.icon {
	display: inline-block;
	border-bottom: none;
	position: relative;
	text-decoration: none;

	img {
		width: 1.25rem;
		height: 1.25rem;
		vertical-align: middle;
		filter: invert(100%); // This will make dark icons appear white
	}

	>.label {
		display: none;
	}
}